<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpg" %>
    </div>
    
    <div id="content">
        <h1>Hi I am Ewan</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis voluptates beatae assumenda amet modi? Et, reiciendis, numquam, fugit, aspernatur amet rerum facere ut officia nostrum alias at repellendus ullam nihil!</p>
        
    </div>
</div>